
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 10% 15%;
    
    --card: 0 0% 100%;
    --card-foreground: 210 10% 15%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 15%;
    
    --primary: 184 100% 37%; /* Rewear Teal */
    --primary-foreground: 0 0% 100%;
    
    --secondary: 210 20% 96%;
    --secondary-foreground: 210 10% 40%;
    
    --muted: 210 20% 96%;
    --muted-foreground: 210 5% 60%;
    
    --accent: 184 30% 95%;
    --accent-foreground: 184 100% 25%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 10% 90%;
    --input: 210 10% 90%;
    --ring: 184 100% 37%;
    
    --radius: 0.25rem;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}
